/* --- Normalizing default browser CSS-styles --- */
@import "normalize.css";
@import url(https://allfont.net/allfont.css?fonts=montserrat-bold);
@import url(https://allfont.net/allfont.css?fonts=montserrat);
@import url(https://allfont.net/allfont.css?fonts=pt-sans);

/* OK. Let's do our main work now! */
main {
    width:              960px;
    margin:             90px auto;
}

.title {
    display:            flex;
    flex-direction:     column;
    justify-content:    flex-start;
    gap:                40px;
    height:             290px;
    text-align:         center;
}

.title > * {
    margin:             0 auto;
    padding:            0;
}

.title > h1 {
    font-family:        'Montserrat', arial;
    text-transform:     uppercase;
    font-size:          35px;
    font-weight:        100;
    letter-spacing:     5px;
    color:              rgb(14, 200, 203);
}

.title > h2 {
    width:              510px;
    font-family:        'PT Sans', arial;
    text-transform:     uppercase;
    font-size:          15px;
    color:              rgb(173, 173, 173);
    letter-spacing:     1px;
    font-weight:        500;
    line-height:        30px;
}
.title > h3 {
    font-size:          10px;
    text-transform:     uppercase;
    font-family:        'Montserrat Bold', arial;
    font-weight:        900;
    letter-spacing:     5px;
    color:              rgb(137,143,153);
}

.iconboxes {
    display:            flex;
    background-color:   rgb(247, 247, 247);
    height:             420px;
}

.iconbox {
    background-color: rgba(14, 200, 203, 0);
    display:            flex;
    flex-direction:     column;
    justify-content:    flex-start;
    align-items:        center;
    padding-top:        50px;
    width:              25%;
}

.iconbox > h2 {
    box-sizing:         border-box;
    width:              167px;
    height:             106px;
    text-align:         center;
    margin:             0;
    padding:            40px 0 0 0;
    text-transform:     uppercase;
    font-size:          18px;
    color:              rgb(27,27,27);
    font-family:        'Montserrat', arial;
    font-weight:        400;
}

.iconbox > p {
    margin:             0;
    width:              175px;
    height:             100px;
    text-align:         center;
    font-family:        'PT Sans', arial;
    color:              rgb(119, 119, 119);
    font-size:12px;
    line-height: 24px;
}

.iconbox:hover {
    background-color:   rgba(14, 200, 203, 1);
}

.iconbox:hover > * {
    color:              #FFF;
}

#anchor-container:hover > .anchor {
    background-position:    -5px -317px;
}

#diamond-container:hover > .diamond {
    background-position:    -5px -177px;
}

#eyeglasses-container:hover > .eyeglasses {
    background-position:    -5px -54px;
}

#monitor-container:hover > .monitor {
    background-position:    -5px -445px;
}

.eyeglasses, .diamond, .anchor, .monitor { 
    display:                inline-block; 
    background:             url('../img/sprite.png') no-repeat; 
    overflow:               hidden; 
    text-indent:            -9999px; 
    text-align:             left; 
}

.eyeglasses { 
    margin-top:             15px;
    background-position:    -5px -0px; 
    width:                  66px; 
    height:                 49px; 
}

.diamond { 
    background-position:    -5px -108px; 
    width:                  65px; 
    height:                 64px; 
}

.anchor { 
    background-position:    -5px -246px; 
    width:                  64px; 
    height:                 66px; 
}

.monitor { 
    margin-top:             12px;
    background-position:    -5px -388px; 
    width:                  64px; 
    height:                 52px; 
}

/* Sprite Generated by http://css.spritegen.com CSS Sprite Generator */